.avatar {
    width: 3.125rem;
    height: 3.125rem;
    object-fit: cover;
    border-radius: 6px;
    box-sizing: initial;
}

.avatar.border {
    border: 3.45px solid var(--gray2);
    outline: 2px solid var(--green-light);
}
