.comment {
    display: flex;
    gap: 1rem;
}

.commentSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.commentContent {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-700);
    width: 42.875rem;
    border-radius: 8px;
    padding: 1rem 1rem 1.5625rem;
    gap: 1rem;
    
    font-size: 0.875rem;
    line-height: 1.6;
}

.commentDetails {
    display: flex;
    justify-content: space-between;    
    align-items: flex-start;
}

.commentDetails strong {
    color: var(--gray-100);
}

.commentDetails time {
    color: var(--gray5);
    font-size: 0.750rem;
}

.commentDetails > button {
    cursor: pointer;
    line-height: 0;
    background-color: transparent;
    border: none;
    border-radius: 2px;
    color: var(--gray5);
}

.commentDetails >button :hover {
    color: var(--red-danger);
}

.commentDetailsAuthor {
    display: flex;
    flex-direction: column;
}

.commentInteraction {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 0.875rem;
    font-weight: bold;
    color: var(--gray5);
    gap: 0.25rem;
}

.commentInteraction span {
    font-size: 0.875rem;
}

.commentInteraction > span::before {
    content: '\2022';
    margin-right: 2px;
}

.likeArea > button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    color: var(--gray5);
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
}

.commentInteraction .likeArea > button:hover {
    color: var(--gray-100);
}
