@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --white: #ffffff;
    --gray-100: #e1e1e6;
    --gray6: #c4c4cc;
    --gray5: #8d8d99;
    --gray3: #323238;
    --gray-700: #29292e;
    --gray2: #202024;
    --gray1: #121214;
    --green: #00875f;
    --green-light: #00B37E;
    --red-danger: #F75A68;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray1);
    color: var(--gray6);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
